*{
    margin: 0;
    padding: 0;
}

body {
    background-color: #000;
    color: #fff;
    font-family: sans-serif;
    text-transform: uppercase;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.info {
    max-width: 200px;
    font-size: 12px;
    margin-left: 80px;
    margin-top: -100px;
    transform: scale(0);
    transition: .5s ease-in-out;
}

.info h2 {
    margin-bottom: 20px;
    color: #ffe16a;
}

.info h6{
    color: #ffe16a;
    text-transform: capitalize;
}

.iphone{
    display: flex;
    justify-content: center;
    width: 270px;
    height: 550px;
    border: 2px solid #fff;
    border-radius: 30px;
}

.iphone .screen {
    display: flex;
    justify-content: center;
    margin-top: 4px;
    width: 260px;
    height: 540px;
    border-radius: 30px;
    background: url(iPhone-15-Pro-default-wallpaper-4.png);
    background-size: cover;
}

.smallscreen {
    display: flex;
    justify-content: center;
    background-color: #000;
    height: 20px;
    width: 70px;
    border-radius: 10px;
    margin-top: 4px;
    transition: all 1s ease;
}

.smallscreen .profile {
    margin-left: 4px;
    margin-top: 5px;
    width: 30px;
    height: 30px;
    background: url(d1bb886b8920c9c565b233153ff6f333.jpg);
    background-size: cover;
    border-radius: 50px;
    transform: scale(0);
    transition: all 0.5s ease-out;
}

.smallscreen .receive {
    margin-left: 10px;
    margin-top: 6px;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    background: url(accept.png);
    background-size: cover;
    transform: scale(0);
    transition: all .5s ease-out;
}

.end {
    margin-left: 90px;
    margin-top: 5.5px;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    background: url(endcall.png);
    background-size: cover;
    transform: scale(0);
}

.main:hover .info{
    transform: scale(1);
}

.smallscreen:hover {
    height: 45px;
    width: 220px;
    border-radius: 60px;
}

.smallscreen:hover .profile{
    transform: scale(1);
}

.smallscreen:hover .receive{
    transform: scale(1);
}

.smallscreen:hover .end{
    transform: scale(1);
}